<div class="header-wrap">
  <div class="header">
    <a class="logo-link" routerLink="/">
      <div class="logo">
        <h1 class="blinking-underscore">_</h1><h1>ad</h1>
      </div>
    </a>
    <div class="menu">
      <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">about</a>
      <a routerLink="/work" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">work</a>
      <a routerLink="/film" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">film</a>
    </div>
  </div>
</div>
