<main>
  <div class="container">

    <div class="content">
      <!-- Me -->
      <img class="me" src="/images/computer_me.jpg">
      <p class="description">
        I'm Abby, a software engineer based in Chicago. <br><br>
        Currently developing at <a class="progressive" href="https://www.progressive.com/" target="_blank">Progressive</a> as a full-stack engineer.
      </p>
      <!-- Socials -->
      <div class="socials">
        <p><a href="mailto:abbyadanger@gmail.com">contact </a></p>
        <p><a href="https://www.linkedin.com/in/abigaildanger" target="_blank">linkedin </a></p>
        <p><a href="https://github.com/abbyadanger" target="_blank">github </a></p>
        <p><a href="https://www.strava.com/athletes/13578770" target="_blank">strava</a></p>
      </div>

    </div>

  </div>

  <div class="footer-msg">
    Made with 🤍 in Chicago.
  </div>

</main>