/* Global */
.container {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-self: center;
}
    /* Standard Link Styling */
    a {
    color: gray;
    text-decoration: none;
    }
    a:hover {
    color: #33658a;
    }

/* Main Content */
.content {
    max-width: 300px;
    align-self: center;
}

    /* Photo */
    .me {
        max-width: 300px;
        border-radius: 8px;
    }
    /* Paragraph */
    .description {
        font-size: small;
        padding-bottom: 40px;
    }
    .progressive {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 3px;
    }
    /* Socials */
    .socials {
        font-size: small;
        display: flex;
        gap: 25px;
    }