<main>
    <div class="container">

        <div class="content">
            <p class="quote">chemical miracles ... mysteries ... secrets !</p>
            <img class="film-image" src="/images/sf.jpg">
                <p class="description">San Francisco</p>
            <img class="film-image" src="/images/stjoe.jpg">
                <p class="description">St. Joseph</p>
            <img class="film-image" src="/images/balloon.jpg">
                <p class="description">Teotihuacán</p>
            <img class="film-image" src="/images/earl.jpg">
                <p class="description">Earl</p>
            <img class="film-image" src="/images/marathon.jpg">
                <p class="description">2025 Chicago Marathon</p>
            <img class="film-image" src="/images/centralpark.jpg">
                <p class="description">Central Park</p>
            <img class="film-image" src="/images/chi.jpg">
                <p class="description">Home</p>
            <img class="film-image" src="/images/mexico.jpg">
                <p class="description">Mexico City</p>
        </div>
    </div>
</main>