<main>
    <div class="container">

        <div class="content">
            <img class="progressive" src="/images/progressive.jpg">
            <p class="title">Progressive Casualty Insurance Co.</p>
            <p class="year">2021 - 2026</p>
            <p class="description">
                Spent 5+ years as a full-stack engineer modernizing and shipping internal software
                to help claims reps move faster and handle claims more easily.
            </p>
            <p class="year">Now</p>
            <p class="description">
                As a Product Owner, I bring my engineering background to Progressive's Quoting Team
                — Helping to craft smooth and efficient quoting experiences for customers.
            </p>

        </div>
    </div>
</main>