<main>
    <div class="container">

        <div class="content">
            <img class="progressive" src="/images/progressive.jpg">
            <p class="title">Progressive Causality Insurance Co.</p>
            <p class="year">2021 - Present</p>
            <p class="description">
                Over the past five years, my team has been instrumental in 
                modernizing and shipping internal applications at Progressive.
                I spend my days building software that simplifies the tasks of claims
                representatives at Progressive.
            </p>

        </div>
    </div>
</main>