<main>
    <div class="container">

        <div class="content">
            <div class="block">
                <img class="progressive" src="/images/progressive.jpg">
                <p class="title">Progressive Casualty Insurance Co.</p>
                <p class="little-title">2021 - Present</p>
                <p class="description">
                    For the past five years, my team has been instrumental in modernizing
                    and shipping internal applications at Progressive. I build software
                    that helps claims representatives work faster and handle claims more easily.
                </p>
            </div>

            <div class="block">
                <a class="dip-decision" href="#">
                    Dip Decision
                    <p class="link-arrow">↗</p>
                </a>
                <p class="little-title">Personal Project</p>
                <p class="description">
                    I developed a website that tells Chicagoans the temperature of Lake Michigan,
                    helping them decide whether or not to take a dip. I built a custom web scraper
                    that pulls Lake Michigan’s water temperature from the
                    <a href="https://www.weather.gov/">National Weather Service</a>, every day.
                </p>
                <a routerLink="/work/dip-decision" class="arrow-button">Read More &rarr;</a>
            </div>
        </div>
    </div>
</main>