/* Global */
.container {
  padding: 40px 20px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* Main Content */
.content {
    width: 100%;
    max-width: 350px;
    height: auto;
    align-self: center;
}
    .title {
        font-size: x-large;
    }
    .year {
        font-size: small;
        color: gray;
        font-style: italic;
    }
    .description {
        font-size: small;
    }
    .progressive {
        width: 100%;
        max-width: 350px;
        height: auto;
        display: block;
        border: 1px solid #33658a;
        border-radius: 4px;
        box-sizing: border-box;
    }
