<main>
    <div class="content">

        <a class="header-link" routerLink="/">
            <div class="header">
                <h1 class="blinking-underscore">_</h1><h1>ad blog</h1>
            </div>
        </a>

        <div *ngIf="loading()">Loading…</div>
        <div *ngIf="error()">Error: {{ error() }}</div>
        
        <!-- Post Metadata -->
        <div *ngIf="!loading() && !error() && postMetadata()" class="post-metadata">
          <p class="post-title">{{ title() }}</p>
          <p class="post-date">{{ date() }}</p>
          <p>-</p>
        </div>
        
        <!-- Post Content -->
        <article [innerHTML]="html()"></article>
        <p>-</p>

        <!-- Back Arrow -->
        <div class="arrow">
            <a routerLink="/blog">
              <p>posts <span class="material-icons">keyboard_return</span></p>
            </a>
        </div>


    </div>

    <div class="footer-msg">
        Made with 🤍 in Chicago.
    </div>

</main>