<main>
    <div class="content">

        <a class="header-link" routerLink="/">
            <div class="header">
                <h1 class="blinking-underscore">_</h1><h1>ad blog</h1>
            </div>
        </a>

        <!-- Loading and Error States -->
        <div *ngIf="loading()">Loading posts...</div>
        <div *ngIf="error()">Error: {{ error() }}</div>

        <!-- List of blog posts -->
        <div *ngIf="!loading() && !error()">
            <table class="blog-posts" *ngIf="posts().length > 0">
                <tr *ngFor="let post of posts()">
                    <td>
                        <a [routerLink]="['/blog', post.filename]">{{ post.title }}</a>
                    </td>
                    <td>
                        <div class="post-tags" *ngIf="post.tags.length > 0">
                            <span class="tag" *ngFor="let tag of post.tags">#{{ tag }}</span>
                        </div>
                    </td>
                    <td class="date">{{ post.dateFormatted }}</td>
                </tr>
            </table>
            
            <p *ngIf="posts().length === 0">No blog posts yet ...</p>
        </div>

        <!-- Email Input Box -->
        <!-- <app-glossy-email-input></app-glossy-email-input>    -->

        <div class="arrow">
            <a routerLink="/"><p>home &crarr;</p></a>
        </div>


    </div>

    <div class="footer-msg">
        Made with 🤍 in Chicago.
    </div>

</main>