<main>
    <div class="content">

        <a class="header-link" routerLink="/">
            <div class="header">
                <h1 class="blinking-underscore">_</h1><h1>ad blog</h1>
            </div>
        </a>

        <!-- List of blog posts -->
        <table class="blog-posts">
            <tr *ngFor="let post of posts">
                <td>
                    <a [routerLink]="['/blog', post.file]">{{ post.name }}</a>
                </td>
                <td class="date">{{post.date}}</td>
            </tr>
        </table>

        <!-- Email Input Box -->
        <!-- <app-glossy-email-input></app-glossy-email-input>    -->

        <div class="arrow">
            <a routerLink="/"><p>home &crarr;</p></a>
        </div>


    </div>

    <div class="footer-msg">
        Made with 🤍 in Chicago.
    </div>

</main>