<main>
    <div class="content">

        <a class="header-link" routerLink="/">
            <div class="header">
                <h1 class="blinking-underscore">_</h1><h1>ad blog</h1>
            </div>
        </a>

        <!-- Loading and Error States -->
        <div *ngIf="loading()">Loading posts...</div>
        <div *ngIf="error()">Error: {{ error() }}</div>

        <!-- List of blog posts -->
        <div *ngIf="!loading() && !error()">
            <table class="blog-posts" *ngIf="posts().length > 0">
                <tr *ngFor="let post of posts()">
                    <td>{{post.id}}.</td>
                    <td>
                        <a [routerLink]="['/blog', post.slug]">{{ post.title }}</a>
                    </td>
                </tr>
            </table>
            
            <p *ngIf="posts().length === 0">No blog posts yet ...</p>
        </div>

        <!-- Email Input Box -->
        <app-glossy-email-input></app-glossy-email-input>   

        <!-- Back Arrow -->
        <div class="arrow">
            <a routerLink="/">
                <p>home
                    <span class="material-icons">keyboard_return</span>
                </p>
            </a>
        </div>


    </div>

    <div class="footer-msg">
        Made with 🤍 in Chicago.
    </div>

</main>