<main>
    <div class="content">

        <a class="header-link" routerLink="/">
            <div class="header">
                <h1 class="blinking-underscore">_</h1><h1>ad lab</h1>
            </div>
        </a>

        <p>Projects coming soon ... <3 </p>

        <!-- Back Arrow -->
        <div class="arrow">
            <a routerLink="/">
                <p>home
                    <span class="material-icons">keyboard_return</span>
                </p>
            </a>
        </div>

    </div>

    <div class="footer-msg">
        Made with 🤍 in Chicago.
    </div>

</main>