<main>
  <div class="container">

    <div class="header">
      <!-- Logo -->
      <a class="logo-link" routerLink="/">
        <div class="logo">
          <h1 class="blinking-underscore">_</h1><h1>ad</h1>
        </div>
      </a>
      <!-- Menu -->
      <div class="menu">
        <a routerLink="/">about</a>
        <a routerLink="/work">work</a>
        <a routerLink="/film">film</a>
      </div>
    </div>

    <div class="content">
      <!-- Me -->
      <img src="/images/computer_me.jpg">
      <p>
        Hi, I'm Abby. <br><br> I'm a software engineer based in Chicago, currently developing at <a href="https://www.progressive.com/" target="_blank">Progressive</a> as a full-stack engineer.
      </p>
      <!-- Socials -->
      <div class="socials">
        <p><a href="mailto:abbyadanger@gmail.com">contact </a></p>
        <p><a href="https://www.linkedin.com/in/abigaildanger" target="_blank">linkedin </a></p>
        <p><a href="https://github.com/abbyadanger" target="_blank">github </a></p>
        <p><a href="https://www.strava.com/athletes/13578770" target="_blank">strava</a></p>
      </div>

    </div>

  </div>

  <div class="footer-msg">
    Made with 🤍 in Chicago.
  </div>

</main>