<main>
  <div class="content">

    <a class="header-link" routerLink="/">
      <div class="header">
        <h1 class="blinking-underscore">_</h1><h1>ad</h1>
      </div>
    </a>

    <img src="/images/computer_me.jpg">

    <p>
      Welcome, I'm Abby! I'm a software engineer based in Chicago. I'm currently developing at <a href="https://www.progressive.com/" target="_blank">Progressive</a> as a full-stack engineer.
    </p>

    <p>-</p>

    <div class="links">
      <p><a href="mailto:abbyadanger@gmail.com">email </a></p>
      <p><a href="https://www.linkedin.com/in/abigaildanger" target="_blank">linkedin </a></p>
      <p><a href="https://github.com/abbyadanger" target="_blank">github </a></p>
      <p><a href="https://www.strava.com/athletes/13578770" target="_blank">strava</a></p>
    </div>

  </div>

  <div class="footer-msg">
    Made with 🤍 in Chicago.
  </div>

</main>